---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #160A83;
    background-image: none;
}


.project-tagline {
    /*
    font-size: 3.25rem;
    opacity: 1.0;
    */
    margin-bottom: 1rem;
}

.page-header {
    padding: 2rem;
}

#Projet-ANR-DynaSTI--modélisation-de-la-dynamique-spatio-temporelle-de-la-connectivité-fonctionnelle-en-IRMf-de-repos-{
    font-size: 0;
    visibility: hidden;
}

h1,
h2,
h3,
h4 {
    color: #160A83;
}

