---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #468063;
    background-image: none;
}

.project-tagline {
    /*
    font-size: 3.25rem;
    opacity: 1.0;
    */
    margin-bottom: 1rem;
}

.page-header {
    padding: 2rem;
}

#se-reconstruire-dans-un-monde-numérique--penser-les-crises-à-venir-et-défis-futurs {
    font-size: 0;
    visibility: hidden;
}
